.SettingsPage {
    .dashboard-link {
      border-bottom: 1px solid white;
      margin: 0 5px;

        a {
            text-decoration: none;
        }
        .loomo {
            position: static;
            display: flex;
            justify-content: center;
            color: white;
            font-size: 32px;
            font-weight: 600;
        }
    }
}
