.post-page {
    padding: 30px;
    text-align: left;
    background-color: #f0f2f5;

    .post-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        border-radius: 16px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
    }

    .content-primary {
        display: flex;
        gap: 40px;
        width: 100%;
        background-color: #fff;
        padding: 25px;
        border-radius: 16px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        .player-wrapper {
            // flex: 1 1 45%;
            width: 100%;
            max-width: 600px;
            max-height: 360px;
            background-color: #333;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

            video {
                border-radius: 12px;
            }
        }

        .post-details {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 1rem;
            justify-content: space-between;

            .post-title {
                font-size: 2rem;
                font-weight: 800;
                margin: 0;
                color: #222;
                text-transform: capitalize;
                letter-spacing: 1px;
                display: block;
            }

            .post-description {
                font-size: 1.1rem;
                margin: 0;
                color: #444;
            }

            .post-reviews {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .rating-section {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 1rem;
                    font-weight: 700;
                    color: #28a745;
                }

                .student-count {
                    font-size: 1.1rem;
                    color: #777;
                }
            }

            .schedule-info {
                display: flex;
                justify-content: space-between;
                font-size: 1rem;
                color: #555;

                .class-time,
                .language-info {
                    font-weight: 700;
                }
            }

            .class-days {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 1rem;
                white-space: nowrap;
                color: #555;

                .day-item {
                    background: linear-gradient(
                        135deg,
                        #007bff 0%,
                        #0056b3 100%
                    );
                    color: white;
                    padding: 6px 12px;
                    border-radius: 6px;
                    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .content-secondary {
        position: relative;
        display: flex;
        gap: 40px;

        .course-info {
            flex: 1;
            background-color: #fff;
            padding: 40px;
            border-radius: 16px;
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            height: max-content;
            gap: 25px;

            &:hover {
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
            }

            h3 {
                font-size: 28px;
                font-weight: 800;
                margin-bottom: 20px;
                color: #111;
                letter-spacing: 1.5px;
                text-transform: capitalize;
            }

            p {
                font-size: 1.2rem;
                color: #666;
                margin-bottom: 20px;
                line-height: 1.8;
            }

            .course-target,
            .requirements-section {
                margin-bottom: 20px;
                background: #f8f9fa;
                border-radius: 10px;
                padding: 15px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: background 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    background: #e9ecef;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
                }

                .target-title,
                .requirements-title {
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    color: #333;
                    display: flex;
                    align-items: center;
                }

                .target-item,
                .requirement-item {
                    font-size: 1.1rem;
                    color: #444;
                    margin-bottom: 10px;
                    position: relative;
                    padding-left: 20px;

                    &:before {
                        content: "•";
                        position: absolute;
                        top: -3px;
                        left: 3px;
                        color: #0d6efd;
                        font-size: 1.4rem;
                    }
                }
            }

            .course-roadmap {
                border: 1px solid #ddd;
                border-radius: 10px;
                overflow: hidden;

                h4 {
                    background-color: #f9f9f9;
                    color: #111;
                    padding: 15px;
                    margin: 0;
                    cursor: pointer;
                    font-size: 1.5rem;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background: darken($color: #f9f9f9, $amount: 10%);
                    }

                    .toggle-icon {
                        transition: transform 0.3s ease;

                        &.expanded {
                            transform: rotate(180deg);
                        }
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    transition: all 1s ease;
                    max-height: 1000px;
                    opacity: 1;

                    &.roadmap-collapsed {
                        transform: all 1s ease;
                        max-height: 0;
                        opacity: 0.7;
                    }

                    li {
                        padding: 15px;
                        border-bottom: 1px solid #007bff;
                        font-size: 1.1rem;
                        color: #333;

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        .main-container {
            flex: 1;
            position: sticky;
            display: flex;
            flex-direction: column;
            top: 0;
            height: min-content;
        }

        .main-info {
            max-height: 300px;
            background-color: #fff;
            padding: 25px;
            border-radius: 16px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            gap: 15px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
            }

            .info-section-container {
                background-color: #f9f9f9;
                padding: 15px;
                border-radius: 15px;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

                .info-section {
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #7fc8f8;
                    padding-bottom: 10px;

                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;
                        padding-bottom: 1;
                    }

                    .info-label,
                    .info-value {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: #333;
                    }

                    .info-value {
                        font-weight: 400;
                        color: #555;
                        text-align: right;
                    }
                }
            }

            .action-section {
                text-align: center;

                .attend-demo-button {
                    background: linear-gradient(
                        135deg,
                        #ff5a5f 0%,
                        #e44c4f 100%
                    );
                    color: #fff;
                    border: none;
                    border-radius: 12px;
                    padding: 15px 30px;
                    font-size: 1.2rem;
                    cursor: pointer;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
                    transition: background-color 0.3s ease, transform 0.3s ease;

                    &:hover {
                        background-color: #d94347;
                    }
                }
            }
        }

        .teacher-info {
            margin-top: 40px;
            flex: 1;
            height: max-content;
            background-color: #fff;
            padding: 25px;
            border-radius: 16px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            gap: 30px;
            transition: transform 0.3s ease;
            justify-content: center;

            &:hover {
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
            }

            .teacher {
                display: flex;
                gap: 15px;
                align-items: center;

                a {
                    text-decoration: none;
                }

                .teacher-name {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #007bff;
                    margin-right: 12px;
                }

                .teacher-image {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 3px solid #007bff;
                }
            }
            .teacher-desc {
                font-size: 1.2rem;
                margin: 0;
                color: #555;
                font-style: italic;
            }
        }
    }
}

.toggle-icon.expanded {
    position: relative;
    top: 7px;
}

@media (max-width: 768px) {
    .post-content {
        flex-direction: column;
        padding: 20px;
    }

    .content-primary {
        flex-direction: column;
    }

    .content-secondary {
        flex-direction: column;
    }
}
