.loomo-home{
  position: absolute;
  display: block;
  top: 10px;
  width: 250px;
  background-color: white;
 
}
.role_text{
  position: absolute;
  display: block;
  top: 260px;
  width: 250px;
  font-size: 36px;
  background-color: white;
}