.DemoRoomPage{
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #071931;
  margin: 0;
  top: 0;
  .demo-video-item{
    margin: 0 20px;
    min-width: 240px;
    min-height: 180px;
    max-width: 240px;
    max-height: 180px;
    cursor: pointer;
  }
  .students-video-wrapper{
    position: absolute;
    min-width: 300px;
    max-width: 900px;
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    overflow-y: hidden;
    border: 2px solid white;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
  }
  .teacher-video-navbar{
    width: 100%;
    height: 100px;
    background-color: aqua;
  }
  .teacher-video-wrapper{
    width: 100%;
    height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  


  }
  .teacher-video{
   
    width: 100%;
    height: 620px;
    border-radius: 20px;
   
    
  }
 
  .teacher-wrapper{
    width: 65%;
    height: 100%;

    .mates-video{
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      
      .mate{
        width: 32%;
        height: 200px;
        background-color: white;
        border-radius: 20px;
      }
    }
  }
  
 
  .tool-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color: #03142b;
    bottom: 0;
    z-index: 200;
    margin-top: 40px;
  }
  .tool-center-wrapper{
    width: 650px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .screen-sharing{
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color:rgb(7, 7, 7);
    border: none;
    background-color: rgb(9, 255, 0);
    
  }
  .hang-up-button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color:white;
    border: none;
    background-color: red;
    
    cursor: pointer;
  }
  .audio{
    cursor: pointer;
    width: 40px;
  }
  .video{
    cursor: pointer;
    width: 45px;
  }
  .student-show-button{
    cursor: pointer;
    width: 45px;
    &::after {
      content: "show or  hide students";
      position: absolute;
      top: -10px;
      transform: translateX(-100%);
      background-color: rgba(157, 152, 152, 0.9);
      color: white;
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
    }

    &:hover::after {
      visibility: visible;
      opacity: 1;
    }
  }
  .hide-students{
    display: none;
  }
  .Teacher-video-chat{
    width: 25%;
    height: 950px;
    background-color: #021f44;
  }
}