.HomePage{
  .header {
    height: 80px;
    position: relative;
    border-bottom: 1px solid black;
    background-color: rgb(0, 26, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .header__btn{
      display: flex;
      gap: 20px;
      button {
        padding: 6px 15px;
        border: solid 0.5px rgb(43, 43, 43);
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        font-weight: 500;
        background-color: white;
      }
      #signup-button{
        background-color: black;
        color: white;
      }
    }
    
  }

  .home-intro {
    display: block;
    padding: 20px 0;
    text-align: center;
    background-color: #f9f9f9;
    img {
      width: 600px;
    }
  }
  .profile_picture{
    display: block;
    right: 10%;
    width: 60px;
  }
  .home__wrapper{
    margin-left:150px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logout_icon{
    width: 30px;
  }
  .header__search{
    margin-top: 40px;
  }
}